@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/plugin-banner-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

